<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link href="../static/src/input.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" media="screen and (min-width: 601px)" href="../static/src/desktop.css" />
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="../static/src/mobile.css" />
</head>
<body>
    <div class="container">
        <div class="page_header">
            <h1 class="heading">
                Healthcare Translation Web App 
              </h1>

        </div>
        <div class="translation">
            <div id="input" class="input">
                
                <input type="text" id="input" class="input" placeholder="Enter text to translate">
                <button 
                id="translateButton" 
                class="button">
                Translate
                </button>
            </div>
            <div class="svg">
                <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                    <line x1="10" y1="50" x2="90" y2="50" stroke="black" stroke-width="2" marker-end="url(#arrowhead)" />
                    <defs>
                      <marker id="arrowhead" markerWidth="10" markerHeight="7" 
                              refX="0" refY="3.5" orient="auto">
                        <polygon points="0 0, 10 3.5, 0 7" fill="black" />
                      </marker>
                    </defs>
                  </svg>
            </div>
        
            <div id="input" class="input">
                <label for="input" class="label"></label>
                <input type="text" id="output" class="output" placeholder="">
                
            </div>
     
        </div>
      
    </div>

</body>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>
