@media screen and (min-width: 601px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 200px;
    }
   
    .page_header {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #d61f1f;
        margin-bottom: 20px;
    }
    
    
    .heading {
        font-size: 20px;
        color: #d61f1f;
    }
    
    .translation {
        display: flex;
        flex-direction: row;
        gap: 60px;
        height: 300px;
        font-size: 16px;
        color: #000;
    }
    #input {
        height: 200px;
        width: 400px;
    }
   
    
    #output {
        height: 200px;
        width: 400px;
    }
    .svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
